.employee-chart {
    border-radius: 20px;
    border: 2px solid #EFEFEF;
    background: rgba(217, 217, 217, 0.20);
    backdrop-filter: blur(27.5px);
    padding: 20px;
    width: max-content;
    &--title {
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 1.6px;
        margin-bottom: 20px;
    }
}

.recharts-tooltip {
    &-wrapper {
        border: 2px solid #EFEFEF;
        background-color: rgba(217, 217, 217, 0.20) !important;
        backdrop-filter: blur(27.5px);
        border-radius: 20px;
    }
    &-label {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 700;
    }
}

.recharts-default-tooltip {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important
}